{% extends "temp/base.html" %}
{% load static %}
{% block body_block %}
<div class="container my-2 style shadow-lg">
    <h2>About Datalysis</h2>
    <p>
        The software "Datalysis" uses Abiriba community as a test case  to create an online platform or system designed to serve the community of Abiriba, which is likely a specific locality or community.

        The primary purpose of this software seems to be testing and developing a web-based system that can be used by the residents of Abiriba for various community-related activities. Some include:
    </p>
    <ul>
        <li>Generating a list of taxable/leviable adults(male/female)</li>
        <li>Generating a list or primary schools pupils</li>
        <li>Generating a list of birth within a certain year</li>
        <li>Generating list of deaths</li>
    </ul>
</div>
{% endblock %}