{% extends "temp/base.html" %}
{% block body_block %}
<div class="container my-5 style-2 shadow-lg">
    {% if birth_years %}
        
        <ul>
            <h2>All Births for the year {{ year }}</h2>
            <p>Total: {{ total }}</p>
            {% for indigene in birth_years %}
                <li class="pill">{{ indigene.full_Name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No Birth Record Found</h2>
        <p>Sorry no indigene with that birth year 😬</p>
    {% endif %}
</div>
{% endblock %}

