{% extends "temp/base.html" %}
{% load static %}
{% block body_block %}
<section id="intro" class="mt-5">


        <div class="row justify-content-center align-items-center m-5 style shadow-lg" style="padding: 100px 20px;">
            {% if registered %}
                <p class="success fixed-top">New data Added</p>
            {% elif admin_registered %}
                <p class="success fixed-top">New Admin Added</p>
            {% endif %}
            <div class="col-md-6 text-center text-md-start">
                <h1>
                    <div class="display-1">
                        <i class="bi bi-bar-chart"></i>
                        Datalysis
                    </div>
                    
                </h1>
                <p class="lead my-4 text-muted">
                    Compiling your data and more...
                </p>
                {% if user.is_authenticated %}
                <div class="link">
                    <a href="{% url 'censusapp:create' %}" class="btn btn-secondary"><i class="bi bi-person-add"></i> Add</a>
                    <a href="{% url 'censusapp:query' query='tax' %}" class="btn btn-secondary"><i class="bi bi-search"></i> Get Leviable Adults</a>
                    <a href="{% url 'censusapp:query' query='primary' %}" class="btn btn-secondary"><i class="bi bi-backpack"></i> Get Primary Students</a>
                    <a href="{% url 'censusapp:birth' %}" class="btn btn-secondary"><i class="bi bi-cake"></i> Get Birth Query</a>
                    <a href="{% url 'censusapp:query' query='death' %}" class="btn btn-secondary" role="button"><i class="bi bi-person-dash"></i> Get Dead Indigenes</a>
                </div>
                
                {% else %}
                    <a href="{% url 'censusapp:user_login' %}" class="btn btn-secondary btn-lg">Login</a>
                {% endif %}
            </div>
            <div class="col-md-5 text-center">
                <!-- tooltip -->
                <span class="tt" data-bs-placement="bottom" title="Children">
                    <img class="img-fluid d-none d-md-block shadow-lg" src="{% static 'images/children.JPG' %}" alt="Children">
                </span>
            </div>
        </div>

</section>
    
{% endblock %}